<%= partial("home/navbar.plush.html") %>


<section>

    <%= if (user.Rol == "admin") { %>
    <div class="d-flex flex-row-reverse mr-5 my-4 bd-highlight"><a href="/task/new">
        <button type="button" class="btn addbtn <%= Button(params["complete"], "true")  %>">Add Task</button>
    </a>
    <% } else if (user.Rol == "user") {  %>
    <div class="d-flex flex-row-reverse mr-5 my-4 bd-highlight"><a href="/task/newtask">
        <button type="button" class="btn addbtn <%= Button(params["complete"], "true")  %>">Add Task</button>
    </a>
    </div>
    <%} %>
    <%= if (user.Rol == "admin") { %>
       <a href="/user/new/invitation"> <button type="button" class="btn addbtn mr-3 <%= Button(params["complete"], "true")  %>">Add Users</button></a>
    <% } %>
    </div>
</section>
    <div class="mx-5">

    <table>
      <%= partial("flashs/flash.plush.html") %>
      <thead>
          <tr>
            <th scope="col" class="col-1 p-0">Status</th>
            <th scope="col">Task</th>
            <th scope="col">Priority</th>
            <th scope="col">Complete by</th>
            <th class="pl-4" id="action" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= for(task) in tasks { %>
          <tr>
            <td data-label="Status">
              <%= form_for(task, {action: taskUpdatecompleteTaskIDPath({task_id: task.ID}), method: "PUT", class: "form"}) { %>
                <%= if (task.Complete == false) { %>
                    <button type="submit" data-method="PUT" class="btn my-0 py-0">
                    <i class="far fa-check-circle" title="Click here to activate the task"></i>
                    </button>
            <% } else if (task.Complete == true ) { %>
                    <button type="submit" data-method="PUT" class="btn my-0 py-0 text-danger">
                    <i class="far fa-times-circle" title="Click here to desactive the task"></i>
                    </button>
                <% } %>
            <% } %>
            </td>
            <td data-label="Task">
              <a href="/task/showtask/<%= task.ID %>" ><%= task.Task %></a>
            </td>
            <td data-label="Priority" ><i class="fas fa-<%= Priorityicon(task.Priority) %> <%= Prioritycolor(task.Priority) %> "></i> <%= Priority(task.Priority)%></td>
            <td data-label="Complete">
              <i class="fas fa-calendar-alt"> </i> <%= Date(task.Date) %>
            </td>
            <td data-label="Actions">
              <%= if (task.Complete == false) { %>

                <%= if (user.Rol == "admin") { %>
                    <a class=" text-dark" href="/task/edit/<%= task.ID %>" ><i class="fas fa-pencil-alt"></i></a>
                    <% } else if (user.Rol == "user") {  %>
                        <a class=" text-dark" href="/task/edituser/<%= task.ID %>" ><i class="fas fa-pencil-alt"></i></a>
                    <%} %>
                    <% } %>
                <a data-id="<%= task.ID %>"  id="idb" data-toggle="modal" data-target="#delete" ><i class="far fa-trash-alt text-danger" ></i></a>
            </td>
          </tr>
        </tbody>
        <% } %>
      </table>
    </div>
    <div class="d-flex justify-content-center ">
      <%= paginator(taskspaginator)%>
  </div>
</section>


<section>
<a data-toggle="modal" data-target="#delete"></a>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">Delete Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Are you sure you want to delete this task?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <label id="deleteb"></label>
      </div>

    </div>
  </div>
</div>
</section>


