<div class="bg-light body">
    <section>
        <nav class="navbar-light text-white nav">
            <div class="nav-item d-flex">
                <a href="/task" class="navbar-brand text-white h ml-5 mr-5">ToDo list</a>
                <div class="ml-3 border-left border-white"></div>
            </div>
            <div class="d-flex flex-column ml-5">
            <p class="incomplete">Task <%= len %></p>
            <p class="font-weight-ligh date" id="date">Date</p>
            </div>

            <div class="d-flex ml-auto mr-5">
            <div class="nav-item align-items-center"><a href="/task?complete=false"  class="text-white textincompleted">Incompleted Task</a>
            </div>
            <div class="nav-item"><a href="/task?complete=true" class="text-white textcompleted" id="com">Completed Task </a></div>
         </div>
        </nav>
    </section>

    <section>
        <div class="container text-center bg-white mt-5">
            <div class="card text-center">
                <div class="card-header">
                    <h2 class="ml-4 pt-5">Task Details</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= task.Task %></h5>
                    <p class="card-text">Description: <%= task.Description %></p>
                </div>
                <div class="card-footer text-muted">Was completed on <%= Datel(task.Date) %> </div>
            </div>
        </div>
    </section>
</div>
