<%= partial("home/navbar.plush.html") %>
<section>
    <section>
        <div class="container bg-white mt-5">
            <h1 class="ml-4 pt-5">Change Password</h1>
            <%= form_for(user, {action: userChangePasswordUserIDPath({ user_id: user.ID}) , method: "PUT", class: "form"}) { %>
                <div class="auth-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                          <div class="col-lg-4">
                            <%= f.InputTag("CurrentPassword", {type: "password" , class: "col-lg-12"}) %>
                            <%= f.InputTag("Password", {type: "password", class: "col-lg-6" }) %>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                    <%= f.InputTag("PasswordConfirmation", {type: "password" }) %>
                    <button class="btn btn-success mb-3">Register!</button>
                </div>
                <% } %>
        </div>
        <div class="container-fluid">

            <div class="row">
              <div class="col-lg-4"  style="background-color:#aaa">
                <%= f.InputTag("CurrentPassword", {type: "password" , class: "col-lg-12"}) %>
                <p>Esto es una prueba de bootstrap.</p>
              </div>
              <div class="col-lg-4"  style="background-color:#bbb">
                <h1>Columna 2</h1> 
                <p>Esto es una prueba de bootstrap.</p>
              </div>
              <div class="col-lg-4"  style="background-color:#ccc">
                <h1>Columna 3</h1> 
                <p>Esto es una prueba de bootstrap.</p>
              </div>
            </div>
          </div> 
    </section>
</section>
