<%= partial("home/navbar.plush.html") %>
<section>
    <div class="container bg-white mt-5">
        <h1 class="ml-4 pt-5">Register</h1>
        <%= form_for(users, {action: "/user/create" , method: "POST" , class: "form" }) { %>
            <div class="auth-wrapper">
                <div class="sign-form">
                    <%= f.InputTag("Email") %>
                    <%= f.InputTag("Password", {type: "password" }) %>
                    <%= f.InputTag("PasswordConfirmation", {type: "password" }) %>
                    <%= f.InputTag("Name", {}) %>
                    <%= f.InputTag("LastName", {}) %>
                    <button class="btn btn-success mb-3">Register!</button>
                </div>
            </div>
            <% } %>
    </div>
</section>
