<div class="bg-light body">
    <section>
        <nav class="navbar-light text-white nav">
            <div class="nav-item d-flex">
                <a href="/tasks" class="navbar-brand text-white h ml-5 mr-5">ToDo list</a>
                <div class="ml-3 border-left border-white"></div>
            </div>
            <div class="d-flex flex-column ml-5">
                <p class="incomplete">
                    <%= len %> Incompleted Tasks
                </p>
                <p class="font-weight-ligh date" id="date">
                    <%= datenow %>
                </p>
            </div>

            <div class="d-flex ml-auto mr-5">
                <div class="nav-item align-items-center"><a href="/tasks/?complete=false" class="btn text-light">Incompleted
                        Task</a>
                </div>
                <div class="nav-item"><a href="/tasks/?complete=true" class="btn text-light">Completed Task</a></div>
                <%= if (current_user) { %>
                    <div class="nav-item align-items-center btn text-light"><%= current_user.Name %></div>
                   <%= linkTo(logoutPath(), {data-method: "DELETE"}){ %> <div class="nav-item align-items-center btn text-light">Sign Out</div><% } %>
                <% } else { %>
                  <%= linkTo(rootPath()){ %><div class="nav-item align-items-center btn text-light">Sign in</div><% } %>
                  <%= linkTo(newUserPath()){ %><div class="nav-item align-items-center btn text-light">Register</div><% } %>
                <% } %>
            </div>
        </nav>
    </section>

    <section>
        <div class="container bg-white mt-5">
            <h1 class="ml-4 pt-5">Register</h1>
            <%= form_for(users, {action: "/user/create" , method: "POST" , class: "form" }) { %>
                <div class="auth-wrapper">
                    <div class="sign-form">
                        <%= f.InputTag("Email") %>
                        <%= f.InputTag("Password", {type: "password" }) %>
                        <%= f.InputTag("PasswordConfirmation", {type: "password" }) %>
                        <%= f.InputTag("Name", {}) %>
                        <%= f.InputTag("LastName", {}) %>
                        <button class="btn btn-success mb-3">Register!</button>
                    </div>
                </div>
                <% } %>
        </div>
    </section>
</div>