<%= partial("home/navbar.plush.html") %>

<section>

  <%= if (user.Rol == "admin") { %>
  <div class="d-flex flex-row-reverse mr-5 my-4 bd-highlight"><a href="/task/new">
      <button type="button" class="btn addbtn <%= Button(params["complete"], "true")  %>">Add Task</button>
  </a>
  <% } else if (user.Rol == "user") {  %>
  <div class="d-flex flex-row-reverse mr-5 my-4 bd-highlight"><a href="/task/newtask">
      <button type="button" class="btn addbtn <%= Button(params["complete"], "true")  %>">Add Task</button>
  </a>
  </div>
  <%} %>
  <%= if (user.Rol == "admin") { %>
     <a href="/user/new/invitation"> <button type="button" class="btn addbtn mr-3 <%= Button(params["complete"], "true")  %>">Add Users</button></a>
  <% } %>
  </div>
</section>

<section>
    <div class="mx-5 mb-4">
        <%= partial("flashs/flash.plush.html") %>
        <table>
          <thead>
            <tr>
              <th class="col-1" scope="col"></th>
              <th class="text-left pl-4" scope="col">User</th>
              <th scope="col">Email</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <%= for(user) in users { %>
          <tbody>
            <tr>
              <td data-label="Status">
                <%= form_for(user, {action: userUpdateactiveUserIDPath({user_id: user.ID}), method: "PUT", class: "form"}) { %>
                  <%= if (user.Active == "invited") { %>
                  <i class="fas fa-user-edit text-primary" title="User Invited"></i>
                  <% } %>
                  <%= if (user.Active == "inactive") { %>
                      <button type="submit" data-method="PUT" class="text-danger border-0 bg-light ">
                          <i class="fas fa-toggle-off" title="Click here to activate the user"></i>
                      </button>
              <% } else if (user.Active == "active") { %>
                      <button  data-id="<%= user.ID %>" id="modalactive" data-toggle="modal" data-target="#inactive" type="button" class="border-0 bg-light text-success">
                          <i class="fas fa-toggle-on" title="Click here to desactive the user" ></i>
                      </button>
                  <% } %>
              <% } %>
              </td>
              <td data-label="User">
                <div class="text-lg-left">
                  <a href="/user/showuser/<%= user.ID %>" > <i class="fas fa-user-tie"></i>ㅤ<%= user.Name %> <%= user.LastName %> </a></td>
                </div>
              <td class="text-truncate" data-label="Email"><%= user.Email %></td>
              <td data-label="Actions">
                <a class=" text-dark" href="/user/edit/<%= user.ID %>" ><i class="fas fa-pencil-alt"></i></a>
                <a data-id="<%= user.ID %>"  id="modaluser" data-toggle="modal" data-target="#delete" ><i class="far fa-trash-alt text-danger" ></i></a>
              </td>
            </tr>
          </tbody>
          <% } %>
        </table>
    </div>
    <div class="d-flex justify-content-center">
      <%= paginator(userspaginator)%>
  </div>

</section>

<section>
<a data-toggle="modal" data-target="#delete"></a>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">Delete Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Are you sure you want to delete this user?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <label id="deletebtn"></label>
      </div>

    </div>
  </div>
</div>
</section>

<section>
    <a data-toggle="modal" data-target="#inactive"></a>
    <div class="modal fade" id="inactive" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title">Inactive User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          Are you sure you want to Desactive this user?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <label id="inactivebtn"></label>
          </div>
        </div>
      </div>
    </div>
    </section>


