<div class="bg-light body">
    <section>
        <nav class="navbar-light text-white nav">
            <div class="nav-item d-flex">
                <a href="/" class="navbar-brand text-white h ml-5 mr-5">ToDo list</a>
                <div class="ml-3 border-left border-white"></div>
            </div>
            <div class="d-flex flex-column ml-5">
            <p class="incomplete"> <%= len %> Incompleted Tasks</p>
            <p class="font-weight-ligh date" id="date"><%= datenow %></p>
            </div>

            <div class="d-flex ml-auto mr-5">
            <div class="nav-item align-items-center"><a href="/?complete=false"  class="text-white textincompleted">Incompleted Task</a>
            </div>
            <div class="nav-item"><a href="/?complete=true" class="text-white textcompleted" id="com">Completed Task</a></div>
         </div>
        </nav>
    </section>

    <section>
        <div class="container bg-white mt-5">
            <h2 class="ml-4 pt-5">New Task</h2>
            <%= form_for(tasks, {action: "/task/create", method: "POST", class: "form"}) { %>
                <div class="d-flex mx-4 justify-content-between">
                    <div class="w-50 mr-3 mt-3"><%= f.InputTag ("Task") %></div>
                    <div class="w-50 ml-3 mt-3"> <%= f.InputTag("Date", {type: "datetime-local", min: "2010-01-02T00:00", value: "2021-08-17T00:00"}) %> </div>
                </div>
                <div class="mx-4">
                    <%= f.TextArea("Description") %>
                    <div class="d-flex flex-row-reverse">
                        <input class=" addbtn2 mb-5 ml-3" type="submit" value="Create">
                        <a href="?complete=false" class="mb-5"> <button type="button" class="btn btn-light">Cancel</button> </a>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
</div>