<%= partial("home/navbar.plush.html") %>
    <section>
        <div class="container bg-white mt-5">
            <h2 class="ml-4 pt-5">New Task</h2>
            <%= form_for(tasks, {action: "/task/createuser", method: "POST", class: "form"}) { %>
                <div class="d-flex mx-4 justify-content-between">
                    <div class="w-50 mr-3 mt-3"><%= f.InputTag ("Task") %></div>
                    <div class="w-50 ml-3 mt-3"> <%= f.InputTag("Date", {type: "datetime-local", min: "2010-01-02T00:00", value: "2021-08-17T00:00"}) %> </div>
                </div>
                <div class="mx-4">
                    <%= f.TextArea("Description") %>
                    <%= f.SelectTag("Priority", {options: {"High": "1", "Medium": "2", "Low": "3"}}) %>
                    <div class="d-flex flex-row-reverse">
                        <input class=" addbtn2 mb-5 ml-3" type="submit" value="Create">
                        <a href="/tasks?complete=false" class="mb-5"> <button type="button" class="btn btn-light">Cancel</button> </a>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
</div>